@model IEnumerable<TaskManagementSystem.Models.Task>

@{
    ViewBag.Title = "Index";
}
<div><span id="notification" style="color:red;font-size:15px;"></span></div>

<h2>Завершенные задачи</h2>

<div id="tasks-notes" class="tasks-notes">
    <input type="text" class="search" />
    <button class="sort" data-sort="title">
        Сортировать по названию
    </button>
    <button class="sort" data-sort="priority">
        Сортировать по приоритету
    </button>
    <button class="sort" data-sort="time">
        Сортировать по времени
    </button>
    <button class="sort" data-sort="type">
        Сортировать по типу
    </button>
    @Html.Partial("ShowListTasks", Model)
</div>

@section scripts {
    <script type="text/javascript">
    var monkeyList = new List('tasks-notes', {
        valueNames: [ 'title', 'description','priority','time','type'],
        page: 5,
        pagination: true
    }
        );
    </script>
}