@model TaskManagementSystem.Entities.Group

@{
    ViewBag.Title = "Delete";
}
<h1> @Html.DisplayFor(model => model.Name)</h1>
<h5>Вы действительно хотите удалить?</h5>
<div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index", null, new { @class="btn btn-default"})
        </div>
    }
</div>
